.git
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.DS_Store
nohup.out
config/**
!config/
!config/config.yaml
!config/default-category.yaml
!config/init_filter.sql
!config/init_userrss_v3.sql
!config/reset_db_version.sql
!config/sites.dat
!config/tmdb.dat
!config/update_subscribe.sql
!config/update_userpris.sql
!config/update_userrss.sql
tests/
windows/
*.log
